<nav class="navbar bg-light">
  <ul class="horizontal nav">
    <li class="active"><a href="#">Active</a></li>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</nav>

<nav class="navbar bg-light">
  <ul class="left horizontal nav">
    <li class="active"><a href="#">Active</a></li>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>

  <form class="right">
    <div class="row">
      <div class="tablet-8 columns"><input type="text" class="input"></div>
      <div class="tablet-4 columns"><button type="button" class="outline button">Submit</button></div>
    </div>
  </form>
</nav>
